/***** 초기세팅 *****/
* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}

/* 웹 접근성을 높이기 위해 사용 */
.visually-hidden{
    display: none;
}

header{
    height: 80px;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    height: 80px;
    background-color: skyblue;
}

.logo img{
    width: 50px;
}

.gnb-list {
    display: flex;
}

.gnb-item a{
    padding: 20px;
    transition: color 500ms;
}

.gnb-item a:hover{
    color: dodgerblue;
}

.background{
    background-image: url(./images/스누피배경.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    text-align: center;
    color: #fff;
    flex-direction: column; /* 세로 가운데로 정렬할 것임 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title{
    font-size: 48px;
}

.main-content{
    margin-top: 20px;
}

.main-btn{
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

/* .post-card{
    position: relative;
    top: -50px;
} */

.post-card div{
    width: 80%;
    max-width: 600px; /* 커질 수 있는 최대 폭 */
    min-width: 300px; /* 작아질 수 있는 최대 폭 */
    margin: 30px auto 0 auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(217, 241, 254);
}

.post-card div:first-child{
    margin-top: 0;
}

.fixed-back {
    height: 600px;
    background-color: rgb(217, 241, 254);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-back-img{
    background-image: url('./images/스누피2.png');
    width: 1000px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: center bottom;
    background-color:#fff;
    /* 배경화면을 고정시킨다. 스크롤을 올리거나 내려도 위치는 고정 */
    background-attachment: fixed;
}

footer {
    padding: 20px 0;
    background-color: skyblue;
}

.global-footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.global-footer h3{
    color: #fff;
}

.icon-list{
    display: flex;
}

.icon-item a{
    padding-right: 20px;
}

.icon-item:last-child a{
    padding-right: 0;
}

.icon-item a:hover i{
    color: dodgerblue;
    /* scale : 요소를 확대하거나 축소한다. n>1 확대, n<1 축소 */
    transform: scale(1.2);
}

.icon-item a i{
    transition: all 0.5s;
    font-size: 24px;
}

.top-btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.top-btn i{
    font-size: 38px;
    color: rgb(41, 127, 161);
}

.side-menu{
    position: fixed;
    top: 150px;
    right: 50px;
}

.side-menu-list {
    width: 200px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888;
    text-align: center;
}

/* display block : 혼자서 한 줄 다 차지 (div, p, h1), width나 height, margin, padding 부여 가능
   display inline : 컨텐츠 영역만큼 요소가 잡힘, width나 height 부여 불가능
   display inline-block : 다른 요소를 나란히 배치, width나 height, margin, padding 부여 가능
*/
.side-menu-item a{
    display: inline-block;
    padding: 10px 0;
    color: #888;
    transition: all 500ms;
}

.side-menu-item a:hover{
    color: dodgerblue;
    text-decoration: underline;
}