* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

.wrapper {
  overflow: hidden;
}

.slide-list{
  transition: transform 500ms ease-in-out;
}

.slide-list ul {
  position: relative;
  display: flex;
  width: 300vw;
  height: 100vh;
  transform: translateX(0);
}

.slide-list li {
  width: 100vw;
  height: 100%;
}

.slide-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-arrow button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid saddlebrown;
  border: none;
  background-color: transparent;
}

.slide-arrow i {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.slide-arrow .prev {
  left: 30px;
}

.slide-arrow .next {
  right: 30px;
}


/* 슬라이드 텍스트 */

.slide-text {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 500ms ease-in-out;
  opacity: 1;
}

.slide-text ul {
  width: 300vw;
  height: 100vh;
  display: flex;
  text-align: center;
  transform: translateX(0vw);
  align-items: center;
}

.slide-text li {
  width: 100vw;
}

.slide-text p {
  font-size: 70px;
  font-weight: bold;
  color: #fff;
}


/* 점 */

.slide-dot-btn{
  position: absolute;
  bottom:20%;
  left: 50%;
  transform: translateX(-50%);
}

.slide-dot-btn .is-active {
  background-color: #fff;
}

.slide-dot-btn button{
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 50px;
  margin-right: 2px;
}

.slide-dot-btn button:last-child{
  margin-right:0;
}