* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.visually-hidden, .sm-only {
  display: none;
}

.login-wrapper {
  position: relative;
  margin: 0 10%;
  justify-content: center;
  padding: 30px 0;
}

.account-list {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: right;
}

.account-list li {
  display: flex;
  margin-right: 1rem;
}

.account-list li:last-child {
  margin-right: 0;
}

.account-list li a {
  font-size: 15px;
  color: #555;
}

.gnb-wrapper {
  width: 100%;
}

.gnb-left {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  height: 80px;
  margin: 0 auto;
  z-index: 100;
}

.gnb-list {
  display: flex;
  margin-left: 80px;
  width: 100%;
}

.gnb-list>li {
  text-align: center;
  position: relative;
  width: 20%;
}

.gnb-list>li>a {
  display: block;
  font-size: 20px;
  padding: 30px;
  transition: background-color 300ms ease-in-out;
}

  .gnb-list>li>a:hover {
  background-color: lightslategray;
  }

.sub{
  position: absolute;
  overflow: hidden;
  width: 100%;
  transition: max-height 300 ease-in-out;
  max-height: 0;
}

.sub.active{
  max-height: 280px;
}

.sub li a{
display: block;
padding: 16px 0;
background-color: white;
transition: background-color 300ms ease-in-out;
}

.sub li a:hover,
.sub li a.on {
  background-color: #ccc;
}

.square-btn {
  position: absolute;
  right: 0;
}


/* main */
.slide-wrapper {
  width: 100vw;
  overflow: hidden;
  position: relative;  
}

.slide-list {
  display: flex;
  width: 300vw;
  height: 60vh;
  transform: translateX(0vw);
  transition: transform 700ms ease-in-out;
}

.slide-list li {
  width: 100vw;
  height: 100%;
}

.slide-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.span-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-top: 0.1px solid rgba(255, 255, 255, 0.5);
}

.span-wrapper span {
  position: relative;
  display: inline-block;
  margin: 30px 40px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.span-wrapper span::after {
  position: absolute;
  content: "";
  width: 1;
  height: 10px;
  background-color: red;
}





@media screen and (max-width: 1200px) {
  .gnb-list {
    display: none;
  }
  .sm-only{
    display: block;
  }
}