* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.visually-hidden,
.sm-only {
  display: none;
}

.login-wrapper {
  position: relative;
  margin: 0 10%;
  justify-content: center;
  padding: 30px 0;
}

.account-list {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: right;
}

.account-list li {
  display: flex;
  margin-right: 1rem;
}

.account-list li:last-child {
  margin-right: 0;
}

.account-list li a {
  font-size: 15px;
  color: #555;
}

.gnb-wrapper {
  width: 100%;
}

.gnb-left {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  z-index: 100;
  box-shadow:  0 4px 4px -4px rgba(0, 0, 0, 0.3);
}

.gnb-list {
  display: flex;
  margin-left: 80px;
  width: 100%;
}

.gnb-list>li {
  position: relative;
  text-align: center;
  width: 20%;
}

.gnb-list>li>a {
  display: block;
  font-size: 20px;
  padding: 30px;
  transition: background-color 300ms ease-in-out;
}

.gnb-list>li>a:hover,
.gnb-list>li>a.on {
  background-color: lightslategray;
  position: relative;
}

.gnb-list>li>a.on::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: #113676;
  top: 85px;
  right: 68px;
  z-index: 50;
}

.sub {
  position: absolute;
  overflow: hidden;
  width: 100%;
  transition: max-height 300 ease-in-out;
  max-height: 0;
  box-shadow:  5px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.sub li:nth-child(1):before{
  display: inline-block;

}
.sub.active {
  max-height: 320px;
}

.sub li a {
  display: block;
  padding: 20px 0;
  background-color: white;
  transition: background-color 300ms ease-in-out;
}

.sub li a:hover,
.sub li a.on {
  background-color: #ccc;
}

.square-btn {
  position: absolute;
  right: 0;
}

.square-btn button {
  border: none;
  background-color: transparent;
}

/* main */
.slide-wrapper {
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.slide-list {
  display: flex;
  width: 300vw;
  height: 60vh;
  transform: translateX(0vw);
  transition: transform 700ms ease-in-out; 
}

.slide-list li {
  width: 100vw;
  height: 100%;
}

.slide-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-top: 0.1px solid rgba(255, 255, 255, 0.5);
}


.button-wrapper ul{
  display: flex;
  justify-content: center;
  margin: 30px 40px;
}

.button-wrapper button{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  margin-right: 70px;
  cursor: pointer;
}

.button-wrapper li:last-of-type button{
  margin-right: 0px;
}

.button-wrapper button.active {
  color: lightgrey;
}

.button-wrapper button {
  position: relative;
}

.button-wrapper button::before {
  position: absolute;
  content: "|";
  right: -40px;
  align-items: center;
  color: gray;
}

.button-wrapper li:last-of-type button::before {
  content: "";
}

/* square-btn */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 250px;
  height: 100%;
  background-color: white;
  text-align: center;
  transform: translateX(-270px);
  transition: transform 300ms ease-in-out;
  box-shadow:  5px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.sidebar.is-active {
  transform: translateX(0);
}

.sidebar ul {
  position: relative;
  margin: 20% 15%;
}

.sidebar li {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  font-size: 20px;
}

.xbutton{
  position: absolute;
  top: -30px;
  right: 0;
  background-color: transparent;
  width: 30px;
  border: none;
  text-align: right;
  font-size: 20px;
}


/* fotter */
footer {
  margin-top: 50px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  padding: 0 15%;
  background-color: #414244;
}

.footer-top ul {
  display: flex;
  color: gray;
  align-items: center;
}

.first-ul li {
  padding: 15px 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.first-ul li:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.first-ul li:nth-child(2) {
  font-weight: 600;
  color: white;
}

.second-ul li {
  padding: 15px;
}

.second-ul li:nth-child(2) {
  font-size: 20px;
  color: white;
}

.footer-bottom {
  background-color: #2d2d30;
  padding: 5% 15%;
  color: gray;
}
.footer-logo img{
  opacity: 0.5;
}

.third-ul {
  margin-top: 30px;
  display: flex;
}

.third-ul li {
  position: relative;
  margin-right: 30px;
}

.third-ul li::after {
  position: absolute;
  content: '/';
  right: -17px;
}

.third-ul li:last-child:after {
  content: '';
}




@media screen and (max-width: 1200px) {

  .sm-hidden {
    display: none;
  }

  .sm-only {
    display: block;
  }

  .gnb-left {
    height: 80px;
  }
}