* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

.visually-hidden {
  display: none;
}

.gnb {
  display: flex;
  justify-content: end;
}

.gnb li {
  background-color: mediumspringgreen;
  padding: 16px;
}

.gnb li:hover,
.gnb li.active {
  background-color: red;
}

.sub-menu {
  display: flex;
  visibility: hidden;
  background-color: skyblue;
  justify-content: end;
}

.sub-menu .sub li {
  padding: 16px;
}

.sub li:hover {
  background-color: red;
}