@font-face {
  font-family: Orbitron;
  src: url('./fonts/Orbitron-Regular.eot');
  src: url('./fonts/Orbitron-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Orbitron, sans-serif;
}

a {
  text-decoration: none;
  color: #555;
}

li {
  list-style: none;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.wrapper.morning {
  background-image: url(images/bg_morning.jpg);
}

.wrapper.afternoon {
  background-image: url(images/bg_afternoon.jpg);
}

.wrapper.evening {
  background-image: url(images/bg_evening.jpg);
}

.wrapper.night {
  background-image: url(images/bg_night.jpg);
}

.wrapper>img:nth-child(1) {
  position: absolute;
  top: 70;
  left: 0;
  width: 1000px;
  opacity: .5;
  z-index: -1;
  animation: cloud1 100s linear infinite;
}

.wrapper>img:nth-child(2) {
  position: absolute;
  top: -100;
  left: -105px;
  width: 1000px;
  opacity: .3;
  z-index: -1;
  animation: cloud2 60s linear infinite;

}

.global-header {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
  align-items: center;
}

.gnb-list {
  display: flex;
  gap: 30px;
}

.gnb-list li a {
  font-weight: 600;
  letter-spacing: 1.5px;
}

.gnb-list li a::after {
  content: '';
  display: block;
  border-bottom: 2px solid #444;
  padding-bottom: 5px;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
}

.gnb-list li a:hover::after {
  transform: scaleX(1);
}

.logo {
  width: 90px;
  height: 80px;
  background-image: url(images/logo_b.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.lorem-txt {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translateY(-50%);
}

.lorem-txt p {
  font-size: 48px;
  color: #666;
}

.lorem-txt p strong {
  color: #333;
}

.lorem-txt em {
  font-size: 14px;
  color: #666;
}

#phone {
  position: absolute;
  top: 160px;
  right: 0;
  /* transform: translateY(-50%); */
  width: 800px;
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.wrapper.morning #phone {
  background-image: url('images/phone_morning.png');
}

.wrapper.afternoon #phone {
  background-image: url('images/phone_afternoon.png');
}

.wrapper.evening #phone {
  background-image: url('images/phone_evening.png');
}

.wrapper.night #phone {
  background-image: url('images/phone_night.png');
}

#phone div {
  position: absolute;
  display: flex;
  align-items: center;
  top: 93px;
  left: 126px;
  width: 506px;
  height: 288px;
  overflow: hidden;
}

.phone-time {
  position: absolute;
  top: 75px;
  left: 40px;
  font-size: 55px;
  font-weight: bold;
  z-index: 1;
}


#phone img:first-of-type {
  position: absolute;
  top: -66px;
  left: 0;
  width: 470px;
  opacity: .4;
  animation: cloud-p1 80s linear infinite;
}

#phone img:last-of-type {
  position: absolute;
  top: 103px;
  left: 0;
  width: 621px;
  opacity: .2;
  animation: cloud-p2 80s linear infinite;

}

.btn-wrapper {
  position: fixed;
  bottom: 36px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.btn-list {
  display: flex;
  gap: 8px;
}

.btn-list li {
  width: 25%;
  height: 35px;
}

.btn-list li a {
  display: block;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  opacity: 0.6;
  letter-spacing: 3px;
  padding: 5px 0;
  color: #111;
  border-radius: 5px;
}

.btn-list li:hover a,
.btn-wrapper li.on a {
  color: #ddd;
  background-color: #111;
}

.wrapper.night .logo {
  background-image: url('images/logo_w.png');
}

.wrapper.night .gnb-list li a {
  color: aliceblue;
}

.wrapper.night .gnb-list li a::after {
  border-color: #ddd;
}

.wrapper.night .lorem-txt p,
.wrapper.night .lorem-txt em {
  color: #a4a4a4;
}

.wrapper.night .lorem-txt strong {
  color: aliceblue;
}

.wrapper.night .phone-time {
  color: #fff
}



@keyframes cloud1 {
  0% {
    left: -100vw;
  }

  100% {
    left: 100vw;
  }
}

@keyframes cloud2 {
  0% {
    left: 0;
  }

  50% {
    left: 1200px;
  }

  60% {
    left: -1200px;
  }

  100% {
    left: 0;
  }
}

@keyframes cloud-p1 {
  0% {
    left: -600px;
  }

  100% {
    left: 600px;
  }
}

@keyframes cloud-p2 {
  0% {
    left: 0;
  }

  50% {
    left: 500px;
  }

  60% {
    left: -500px;
  }

  100% {
    left: 0;
  }
}