* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 50px 70px;
}

.box-list {
  display: flex;
  /* margin: 0 auto; */
  flex-wrap: wrap;
  /* justify-content: space-between; */
  /* gap: 15px; */
  /* width: 90%; */
}

.box-item {
  width: calc((100% - 60px) / 3);
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #888;
  margin: 10px;
}

img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.sho-info {
  padding: 20px;
}

.sho-info p {
  font-size: 20px;
  margin-top: 10px;
}