* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--body-bg);
  color: var(--txt-color);
}

a {
  text-decoration: none;
}


/* 모드 바꾸기 */
body.dark {
  background-color: var(--body-bg);
}


body.dark .logo {
  background-image: url('images/logo-dark.png');
}



/* 사용된 컬러 */
:root {
  --body-bg: #fafafa;
  --box-bg: #fff;
  --box-border-color: #dbdbdb;
  --txt-color: #262626;
  --txt-second-color: #8e8e8e;
  --btn-bg: #0095f6;
  --btn-color: #fff;
  --fb-color: #385185;
  --a-color: #00376b;
}

.dark {
  --body-bg: #151515;
  --box-bg: #151515;
  --box-border-color: #262626;
  --txt-color: #d2d2d2;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.formbox {
  padding-top: 50px;
  width: 450px;
  margin: 0 auto;
}

/*********** 윗부분 ***********/

.top-wrapper {
  width: 100%;
  padding: 30px 50px;
  background-color: var(--box-bg);
  border-radius: 5px;
  border: 1px solid var(--box-border-color);
}

.logo-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
}

.logo {
  display: block;
  width: 200px;
  height: 70px;
  background-image: url('images/logo-light.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inputbox {
  padding: 0px 10px 3px;
  border-radius: 5px;
  border: 1px solid var(--box-border-color);
  height: 51px;
  overflow: hidden;
}

/* input박스 안 문구 */
/* height 값 */
.alert {
  font-size: 12px;
  color: var(--txt-color);

  /* 클릭전 */
  line-height: 50px;
}

.inputbox input {
  border: none;
  width: 190px;
  height: 25px;
  outline-style: none;
  display: block;
}

.inputbox:first-child {
  margin-bottom: 5px;
}

.password {
  display: flex;
  justify-content: space-between;
}

/* 비밀번호 숨기기 */
.password .show-password {
  line-height: 50px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;

  /* 클릭전 */
  display: none;
}

#submit {
  margin-top: 30px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  background-color: var(--btn-bg);
  border: none;
  cursor: pointer;
}

#submit:disabled {
  background-color: var(--txt-second-color);
}

button,
.or,
.facebook {
  margin-bottom: 25px;
}

.or {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.line {
  width: 130px;
  height: 1px;
  background-color: var(--box-border-color);
}

.or p {
  font-size: 15px;
  font-weight: bold;
  color: var(--txt-second-color);
}

.facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.facebook span {
  font-weight: bold;
  color: var(--fb-color);
}

.facebook img {
  width: 20px;
  margin-right: 5px;
}

.find-password {
  width: 100%;
  text-align: center;
}

.find-password a {
  font-size: 14px;
  color: var(--a-color);
}


/*********** 중간부분 ***********/
.middle-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  padding: 30px 0;
  border-radius: 5px;
  background-color: var(--box-bg);
  border: 1px solid var(--box-border-color);
}

.middle-wrapper span a {
  margin-left: 5px;
  font-weight: bold;
  color: var(--btn-bg);
  background-color: var(--box-bg);
}


/*********** 아랫부분 ***********/
.bottom-wrapper {
  width: 100%;
  text-align: center;
}

.bottom-wrapper p {
  padding: 20px;
}

.app-img img {
  width: 150px;
}


/*********** footer ***********/
footer {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

footer ul {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 15px;
}

footer ul li {
  align-items: center;
  padding: 0 10px;
}

footer ul li a {
  font-size: 14px;
  color: var(--txt-second-color);
}

footer span {
  font-size: 14px;
  color: var(--txt-second-color);
}