* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

button,
input {
  height: 60px;
}

/* header */
header {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 50px;
}

.logo img {
  width: 240px;
}

.signup-form {
  max-width: 468px;
  margin: 0 auto;
}


li {
  list-style: none;
  margin-bottom: 20px;
}

label p {
  font-size: 20px;
  font-weight: bold;
}

label input {
  width: 100%;
  border: 1px solid #ccc;
  margin-top: 5px;
  padding: 10px;
  outline: none;
}

.inputboxact {
  border-color: #03C75A;
}

.id input::placeholder {
  text-align: right;
}

label input::placeholder {
  font-size: 20px;
  text-align: left;
}

label input[type="password"] {
  background-image: url('images/m_icon_pw_step_01.png');
  background-repeat: no-repeat;
  background-position: 98% center;
  background-size: 30px;
}

.alert p {
  display: none;
}

.ps-check input[type="password"] {
  background-image: url('images/m_icon_pw_step_02.png');
}

.birth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.birth input,
select {
  width: calc(97% / 3);
  height: 60px;
}

.birth select {
  border: 1px solid #ccc;
  height: 60px;
  font-size: 20px;
}

.gender input[type="radio"] {
  display: none;

}

.gender input[type="radio"]+span {
  display: inline-block;
  padding: 15px calc(34% / 3);
  height: 60px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  text-align: center;
}

.gender input[type="radio"].radiochk+span {
  background-color: #08a600;
  color: #fff;
  font-weight: bold;
}

.text-secondary {
  color: #8e8e8e;
  font-size: 15px;
}

.phone select {
  width: 100%;
  font-size: 20px;
}

.certi-num,
.postalcode {
  display: inline-block;
  font-size: 0;
}

.certi-num input[type="tel"],
.postalcode input[type="number"] {
  width: 335px;
  margin-right: 10px;
}

.get-number,
.find-zipcode {
  background-color: #08a600;
  border: none;
  width: 120px;
  height: 60px;
  color: #fff;
  font-weight: bold;
}

#submit {
  width: 100%;
  height: 60px;
  background-color: #08a600;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  border: none;
  margin-top: 20px;
}