* {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  /* 초기화 */
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/****** header gnb 스타일링 ******/
.visually-hidden {
  display: none;
}

/* 부트스트랩에서 권장하는 그리드 시스템
  sm(Small), md(Medium) 768px, lg(Large) 1200px
*/
.sm-only {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  /* 서로 양 끝에 붙음 */
  align-items: center;
  width: 95%;
  /* 가로사이즈를 95%로 축소하고 margin auto로 여백 나눔 */
  margin: 0 auto;
  padding: 10px 0;
  background-color: #fff;
}

.logo img {
  width: 70px;
}

.gnb-list {
  display: flex;
  /* 너비를 주고 스페이스비트윈 하면 마진 안넣어도 됨 */
  justify-content: space-between;
  width: 300px;
}

.gnb-item a {
  font-size: 16px;
  font-weight: 700;
  transition: color 300ms ease-in-out;
}

.gnb-item a:hover {
  color: red;
}

/* position: sticky로 top:0부터 달라붙게 하려면, 부모는 body여야 함 */
.lnb-wrapper {
  position: sticky;
  /* 달라붙기 */
  top: 0;
  /* 맨위부터 */
  z-index: 10;
  /* 해당 포지션을 우선으로 한다*/
}

.lnb-list {
  display: flex;
  background-color: rgb(235, 27, 27);
  padding: 20px 0;
  border-top: 3px solid rgb(255, 213, 23);
}

/* 첫째 자식의 왼쪽에 여백 넣기위함 */
.lnb-item:first-child {
  margin-left: 20px;
}

.lnb-item a {
  color: #fff;
  padding: 0 20px;
}


/****** main ******/
.background {
  height: 600px;
  background-image: url('./images/back.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* 가로세로 다 채움 */
}

.food-box {
  /* food-box-list의 부모 */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* 칸이 부족하면 떨어져라 */
  width: 90%;
  margin: 80px auto 0 auto;
}

.food-box-list {
  display: flex;
  margin: 30px;
}

.food-box-list:first-child {
  margin-top: 0;
}

.food-box-item {
  width: 300px;
  margin-right: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #e1e1e1;
  /* x축, y축, 퍼지는정도, 색상 */
  overflow: hidden;
}

.food-box-item:last-child {
  margin-right: 0;
}

.food-box-item a {
  transition: opacity 300ms ease-in-out;
}

.food-box-item a:hover {
  opacity: .7;
  /*푸드박스 이미지 위에 마우스 올렸을때 이미지 흐려지는 정도 0~1 */

}

.food-box-item img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  /* 비율 지키면서 이미지 확대 */
}

.food-box-txt {
  width: 90%;
  margin: 30px auto;
  text-align: center;
  font-weight: 700;
}

/****** 스토리박스 ******/
.mac-story-box {
  margin-top: 30px;
  padding: 20px 0;
  position: sticky;
  bottom: 0;
  z-index: 10;
  text-align: center;
  background-color: #fff;
  border-top: 3px solid rgb(255, 213, 23);
}

.mac-story-list {
  display: flex;
  width: 25%;
  margin: 0 auto;
  justify-content: space-between;
}

.mac-story-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}


/****** footer ******/
footer {
  background-color: rgb(235, 27, 27);
  padding: 20px 0;
}

.global-footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}

.global-footer a {
  color: #fff;
}

.mac-link-list {
  margin-right: 40px;
}

/* inline tag에 마진 패딩이 적용되지 않을때 */
.mac-link-item a {
  display: inline-block;
  /* 패딩이나 마진값이 안먹을때 */
  padding: 5px 0;
}

.mac-link-item:first-child a {
  color: rgb(255, 213, 23);
}

/* flex-grow속성 : flex-grow가 적용되지 않았을 경우
   레이아웃 보다 정렬된 아이템들의 width 합이 작으면
   오른쪽에 여백이 남는다. 그 여백을 지정한 비율대로 
   차지하게 할 수 있는 속성
*/
.mac-info-list {
  flex-grow: 1;
}

.mac-info-list li {
  padding: 5px 0;
  ;
}


/* 아이콘정렬 포지션 속성 */
.mac-icon-list {
  display: flex;
  align-items: center;
}

.mac-icon-list li {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 10px;
  position: relative;
  transition: background-color 300ms ease-in-out;
}

.mac-icon-list li:hover {
  background-color: rgb(235, 27, 27);
}

.mac-icon-list li:hover i {
  color: #fff;
}

.mac-icon-list li:last-child {
  margin-right: 0;
}

/* 동그란 배경을 포지션 릴레이티브로 하고, 가운데로 둘 아이콘을 앱솔루트로 한다 */
.mac-icon-list i {
  position: absolute;
  transform: translate(-50%, -50%);
  /* 본인이 가진 크기의 반만큼 당긴다. */
  color: red;
  top: 50%;
  left: 50%;
  font-size: 26px;
  /* 아이콘 사이즈를 웹폰트라 font-size를 사용 */
  transition: background-color 300ms ease-in-out;
}



/****** 반응형 ******/
@media screen and (max-width: 1200px) {

  nav {
    padding: 5px 0;
  }

  .logo img {
    width: 60px;
  }

  .gnb-list {
    width: 250px;
  }

  .background {
    height: 400px;
  }


  .food-box {
    margin-top: 50px;
  }

  .food-box-item {
    width: 33%;
  }

  .food-box-item img {
    width: 100%;
    height: 150px;
  }

  .food-box-txt {
    margin: 20px auto;
  }

  .mac-story-box {
    margin-top: 50px;
    padding: 10px 0;
  }

  .mac-story-list {
    width: 40%;
  }

  .mac-story-item img {
    width: 80px;
    height: 80px;
  }


}


@media screen and (max-width: 768px) {

  .sm-only {
    display: block;
  }

  .sm-hidden {
    display: none;
  }

  .logo img {
    width: 50px;
  }

  .gnb-icon-btn i {
    font-size: 24px;
  }

  .background {
    height: 300px;
  }


  .food-box {
    width: 100%;
    margin-top: 30px;
  }

  .food-box-list {
    /* 모바일 버전에서 한개씩 세로로 가운데로 정렬하기위함 */
    flex-direction: column;
    margin-top: 0;
  }

  .food-box-item {
    width: 90%;
    margin: 20px auto 0 auto;
  }

  .food-box-item:first-child {
    margin-top: 0px;
  }

  .food-box-item:last-child {
    margin-right: auto;
  }

  .food-box-txt {
    margin: 20px auto;
  }

  .mac-story-box {
    margin-top: 30px;
  }

  .mac-story-list {
    width: 50%;
  }

  .mac-story-item img {
    width: 50px;
    height: 50px;
  }

  .global-footer {
    flex-wrap: wrap;
  }


  .mac-link-list {
    margin-right: 0;
  }

  .mac-info-list {
    text-align: right;
  }

  /* 아이콘정렬 포지션 속성 */
  .mac-icon-list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .mac-icon-list li {
    width: 40px;
    height: 40px;
  }

  /* 사이드바 */
  .sidebar {
    position: fixed;
    top : 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #fff;
    z-index: 200;
    padding: 32px 20px;
    transform: translateX(-200px);
  }

  .side-menu-item a{
    padding: 10px;
    color: #3f4150;
    display: inline-block;
  }

  .overlay{
    position: fixed;
    /* 화면 전체를 덮어야 한다. */
    /* top, bottom, left, right에 좌표 전부 0으로 줄 경우,
    네 꼭지점에서 서로 잡아당기기 때문에 쫙 펴져서
    width: 100%, height: 100%와 동일한 효과를 줄 수 있다. */
    top: 0;
    /* bottom: 0; */
    /* right: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(63, 65, 80, .5);
    /* display: none은 transition이 먹히지 않는다. */
    /* UI Animation 효과를 주고싶다면, visibility를 사용해야한다. */
    visibility: hidden;
  }
}