:root {
    --1: #3C84AB;
    --2: #1B6B93;
    --3: #3C8C4C;
    --4: #E3B130;
    --5: #50A342;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.tab-content {
    display: flex;
    width: 1400px;
    height: 700px;
    margin: 0 auto;
}

.slider-box {
    margin: 0 auto;
    width: 457px;
    height: 100%;
    padding-left: 50px;
    border: 1px solid green;
    /* overflow: hidden; */
}

.slider-title {
    margin: 100px 0 60px 0;
    font-weight: bold;
}

.title {
    font-size: 30px;
}

.title span {
    color: var(--1)
}

/* 칸 하나 */
.slider-container {
    position: relative;
    width: 400px;
    height: 500px;
    /* overflow: hidden; */
}

.slider-wrapper {
    display: flex;
    width: 4000px;
    border: 1px solid blue
}

.buttons {
    position: absolute;
    bottom: 50px;
}

.slider {
    width: 400px;
    /* border: 1px solid red; */
}

.slider-img img {
    width: 400px;
}

.map-box {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    overflow: hidden;
}

.map-box img {}


/* 아래 버튼 */

.tab-box {
    width: 100%;
    height: 300px;
    background-color: var(--1);
}

.tab-wrapper {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: end;
    width: 1400px;
    height: 300px;
}

.tab-list {
    display: flex;
    width: 815px;
    height: 200px;
    flex-wrap: wrap;
    margin-right: 30px;
}


.tab-btn,
.link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 80px;
    margin: 10px;
    color: #fff;
    border: 5px solid #fff;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.tab-btn:hover,
.link-btn:hover {
    background-color: #fff;
    color: var(--main-color);
}

.active {
    background-color: #fff;
    color: var(--main-color);
}